*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.stack-sm > * + *{
margin-top: 0.5rem;
}
.stack-lg > * + *{
    margin-top: 1rem;
}
header{
    height: 5rem;
    background-color: pink;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 3rem;
}

@media only screen and (min-width: 769px) {
    .mates {
        display: flex;
    }
}